<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.rp.c346.a3pdwork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LanguagesTutorActivity"></activity>
        <activity android:name=".FinancesTutorActivity"></activity>
        <activity android:name=".HumanitiesTutorActivity"></activity>
        <activity android:name=".ProgrammingTutorsActivity"></activity>
        <activity android:name=".MathTutorsActivity"></activity>
        <activity android:name=".SciencesTutorActivity"></activity>
        <activity android:name=".HumanitiesActivity"></activity>
        <activity android:name=".ProgrammingActivity" />
        <activity android:name=".FinancesActivity" />
        <activity android:name=".SciencesActivity" />
        <activity android:name=".MathActivity" />
        <activity android:name=".details_layout" />
        <activity android:name=".profileActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>